* {
    font-family: sans-serif;
    padding:0px;
    margin:0px;
     }

   

     #editProImgBtn {
         
        padding:5px;
        height:25px;
       width:fit-content;
        border: none;
        background-color: rgba(0,128,128, 0.4);
        border: black solid 1px;
        }
     
    
    .contLogSignup {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:10px;
        margin: auto;
        
        width:280px;
        background-color: blue;
        border:1px solid blue;
    }
    
    
    .form-signup {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding:10px;

        text-decoration: none;
        font-weight: 900;
        font-size: 25px;
        width:380px;
        color:black ;
        background-color: blue;
        border:1px solid blue;
        
    }

    .form-signup input {
        width:90%;
        color: black;
        height:40px;
        margin:10px auto;
        padding-left:10px;


    }
    
    .login-status {
       padding:20px 20px;
       text-align:center;
    }

    form {
      display: block;
    }
    
    .form-login {
        /* display: flex;
        flex-direction: column; */
        margin-top:40px;
        margin-bottom:40px;
    }

    label {
        float: left;
        margin-left: 0px;
        margin-right: 15px;
        margin-bottom: 5px;
        color:white;
    }
    
    .form-login input{
        display: block;
        width:90%;
        color: black;
        height:40px;
        margin:10px auto;
        padding-bottom: 0px;
        outline: none;
        border:none;
         border-radius: 5px;

       
    
    }

    button[type='submit']{
        width:90%;
        height: 50px;
        margin: auto;
        border-radius: 5px;
        background-color: orange;
    }

   

    #submit_new_pro_pic {
       display: none;  
    } 
    
 
    
    
                /* NavBar styling */
    
    .containAll {
      display: flex;
      flex-direction: row;
     }                            
    
    .navbar {
       
        top: 0px;
        
        width:6vw;
        width: 150px;
        padding:30px;
       
        display: inline-block;
      
    }
    
    
    /* by making the Ul fixed and not the whole navbar it works combined with 
    being in a container thats set to display flex flex-direction: row */
    .navbar ul {
        position: fixed; 
        height:fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        background-color: white;

       }
       
       
        
        .profileUploadLabel {
            /*opacity:0;*/
            /*transition: 0.7s ease-in-out;*/
            background-color: blue;
            color: white;
            width:70%;
            padding: 7px;
            font-size: 10px;

        }

    
    
    .navbar ul button {
       border:none;
       background-color: white;
       color:red;
       font-size: 20px;
        }
    
   
    
    .navbar ul a{
        text-decoration: none;
        width:fit-content;
        }
    
    .navbar ul li{
      list-style: none;
      padding:5px 0px;
      background-color: white;
      color:black;
      font-size: 20px;
      width:fit-content;
     
    
        }
    
        .navbar ul li:hover{
            background-color: lightblue;
            border-radius: 10px;
            padding: 3px;
            transition: 0.5s ease-in-out;
    
        }
        
        
        .logout {
            width:27px;
    
        }
    
    

    
    
    
                /* post.php styling */
    
        .add-post {
            outline: none;
            text-align: center;
            padding: 20px;
        }
    
        .textAreaDiv {
         
        
           }
    
       textarea{
           border: none;
        box-shadow: 1px 1px 3px 0px #888888;
        
           height:20vh; 
           width:30vw;
           resize: none;
           outline: none;
            
       }
    
      
     
    
       .add-post [type='submit'] {
        background-color: white;
        border: none;
        color:blue;
       font-size: 20px;
    
    
       }
    
       .form-add-post [type='submit']:hover {
            color:red;
            transition: 0.3s ease-in-out;
      }
    
    
    
                    
       
       
       
                    /* posts.php  */
      
      
      
    
       .postsContainer {
       display: inline-block;
        padding-top: 20px;
        width:50vw;
         margin-left:0px; 
        
        
          
    }
    
    
       .postsContainer .heading {
        padding-left: 10vw ;
        padding-bottom: 30px;
       }
    
       .containerDivs {
           width:35vw;
           height: fit-content;
            min-height:180px;
            box-shadow: 1px 1px 3px 0px #888888;
            margin-left:2vw;
            margin-bottom: 10px;
            border-radius: 9px;
            padding: 10px;
            background-color: white;
            font-size: 13px;
    
    
       }

       .imgProf {
        border-radius: 100%;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 15px;


     }

       video {
        width: 100%;
        margin: auto;
        outline: none;
       
        }

        controls{
            position:absolute;
            z-index:1;
        }

       .containerDivs .postImg{
           width:100%;
       }

       .containerDivs h3{
           width:fit-content;
           display: inline-block;
           vertical-align: top;
       }

       .containerDivs p {
        width:90%;


       }
    
    
    .containerDivs:hover {
        background-color: #F2F3F5; 
        transition: 0.3s ease-in-out;
    }
    

      
    
    
       .btnsWrapper {
         /* display:inline-block; */
        width:fit-content;
        float: right;
    
       }
       .btnsWrapper button {
            background:none;
            vertical-align: bottom;
            color:blue;
            border:none;
            outline: none;
            }


       .btnsWrapper button:hover {
            color:red;
            transition: 0.3s ease-in-out;
        }
    
    
                                                    /*  450 and below */
       @media screen and (max-width:450px){
        .navbar {
      
            position: fixed;
            z-index: 3;
             height: 85px;
             width:100vw;
             padding:0px;
            
            
             
             }

             
            
            .navbar ul {
                box-sizing: border-box;
                position: absolute; 
                z-index: 3;
                top:0;
                width:90vw;
                height:85px;
                padding:20px;
                display: flex;
                flex-direction: row;
                
               
            
                }
            .profileUploadForm {
               
            }    

        .navbar ul li {
            font-size: 10px;
        } 
        
         .navbar ul button {
            font-size: 10px;

             
             
         }
        
        .postsContainer {
            

        }
        
        .textAreaDiv {
            padding-top:100px;
            padding-left: 60px;
          }
        
          textarea {
            height:20vh; 
            width:60vw;
           }
        
        video, .postImgmg{
           height:200px;
           width:60vw; 
           margin:10px auto;
           }
           

        .containAll {
            display: flex;
            flex-direction: column;
           }  
           
        
        .postsContainer {
            width:80vw;
            margin-left:15vw;
            background-color: white;   
    
            
           }
    
           .containerDivs {
                width:70vw;
                height: fit-content;
                 /* border:1px solid  #282C35; */
                 box-shadow: 1px 1px 3px 0px #888888;
                 margin: auto;
                 margin-bottom: 8px;
                 border-radius: 9px;
                 padding: 10px;
                 background-color: white;
                 font-size: 13px;
                }

        .imgProf {
            height:50px;
            width:50px;
            }
    
    
       }
       
       
       
       
       
       
       
       
       
       
       
       
    
       .addedDiv {
           display:inline-block;
           vertical-align:top;
           width:200px;
           
          
       }
    
    
    
    
                        /* edit the posts in posts.php */
    
       .editAbsoluteDiv {
        display: flex;
        display: none;  
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color:rgba(0,0,128,0.2) ;
        height:100vh;
        width:100vw;
        z-index: 2;
        top:0px; 
        left:0px;
    }
    
       .formToEdit {
            position: relative;
            border-radius: 6px;
            padding : 20px;
            text-align: center;
            background-color: white;
            width:60vw;
            height:fit-content;
    } 

   .formToEdit  ion-icon{
       position: absolute;
        display: block;
        float: right;
        font-size: 30px;
        top:0;
        right:0;
       
      
}

.formToEdit  [type="text"]{
    outline: none;
    border:none;
    box-shadow: 0px 0px 0px 0px blue;
    height:fit-content;
    min-height: 100px;
    width: 90%;
    margin-bottom: 8px;
    line-height: 20px;
    font-family: sans-serif;
    resize: none;
}

.formToEdit  [type="submit"]{
  background-color: #4d4dff;
  color:white;
  border: none;
  padding:8px;
  margin-right: 8px;
  
 
}


.fileLabel {
 background-color: blue;
 color: white;

}


    
    
    
    
    
    
