* {
    font-family: sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
     }

     body{
        min-height:100vh;
        /* background-image: url(./uploads/skycover.jpg);
        background-repeat: no-repeat; 
        background-size: cover;  */

        background-color: #f8f8f2;
     }
   

     #editProImgBtn {
         
        padding:5px;
        height:25px;
       width:fit-content;
        border: none;
        background-color: rgba(0,128,128, 0.4);
        border: black solid 1px;
        }
     
    
    .contLogSignup {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:10px;
        margin: auto;
        
        width:280px;
        background-color: blue;
        border:1px solid blue;
    }
    
    
    .form-signup {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding:30px 10px;

        text-decoration: none;
        font-weight: 900;
        font-size: 25px;
        width:380px;
        color:black ;
        background-color: blue;
        border:1px solid blue;
        
    }

    .form-signup input {
        width:90%;
        color: black;
        height:40px;
        margin:10px auto;
        padding-left:10px;


    }

     .form-login a{
    text-decoration: none;
    width:490px;
    height: 50px;
    margin:10px auto;
    border-radius: 5px;
    color:black;
    font-weight: 700;
    
        }



    .login-status {
       padding:20px 20px;
       text-align:center;
    }

  
    
    .form-login {
        /* display: flex;
        flex-direction: column; */
        margin-top:40px;
        margin-bottom:40px;
    }

    .buttons {
        width:90%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;

       }

    label {
      margin: auto;
      padding: 5px;
      border-radius: 7px;
        color:white;
    }
    
    .form-login input{
        display: block;
        width:90%;
        color: black;
        height:40px;
        margin:10px auto;
        padding-bottom: 0px;
        outline: none;
        border:none;
         border-radius: 5px;

       
    
    }

    .form-login button[type='submit']{
        width:90%;
        height: 50px;
        margin: auto;
        border-radius: 5px;
        background-color: orange;
    }

    .submitRegistration {
        width:90%;
        height: 50px;
        margin: auto;
        border-radius: 5px;
        background-color: orange;
        font-size: 25px;
        font-weight: 700;

    }

    

    .containAll {
        display: flex;
        flex-direction: row;
       }   
       
       .UserCrudentials{
           position:fixed;
           margin-top: 100px;
           margin-left: 15px;
           padding:10px 10px 20px 10px;
           height:fit-content;
           width: 200px;
           font-size: small;
           background-color: white;
           box-shadow: 1px 1px 3px 0px #888888        
       }

       .UserCrudentials p {
           margin-bottom: 6px;
       }
       .UserCrudentials b {
           display: block;
       }

       .UserCrudentials h6 {
           color:blue;
       }

       .editBiographyContain {
            height:100vh;
            width:100vw;
            display: none;
            position: absolute;
            z-index: 4;
            background-color: rgba(24, 77, 224, 0.9);
       }

       .editBiographyContain h2 {
           text-align: center;
       }

       .editBiographyContain ion-icon {
        font-size: 60px;
        margin-left: 85%;
        
       }

       .editBioForm {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 10% auto;
        padding:0px 10px 20px 10px;

        text-decoration: none;
        font-weight: 900;
        font-size: 25px;
        width:380px;
        color:black ;
        background-color: blue;
        border:1px solid blue;
           
       }

       .editBioForm input {
           height: 30px;
           padding-left: 10px;
           outline: none;
           border-radius: 6px;
       }

       .editBioForm textarea {
           height:30px;
           padding-left: 10px;
           border-radius: 6px;
            resize: none;
            outline: none;

       }


       /****************** Search Results Page ****************************************************/

       .searchPageContainer {
        margin: 55px auto;
        background-color: white;
        padding:20px;
        width:350px;
        display: block;
       }
     .searchPageContainer a {
         text-decoration: none;
         color:rgb(46, 42, 42);
     }

     .searchPageContainer .imgProf {
         height:100px;
         width:100px;
         
     }

     .rowCountUsers {
        margin: auto;
        margin-top: 160px;
        display: block;
        text-align: center;


     }

     .noResultsMsg {
        margin: 105px auto;
        background-color: white;
        padding:20px;
        width:350px;
        display: block; 
     }
 
    
    
                /*********************************** NavBar styling *********************************************/
    
    .searchForm {
        width:fit-content;
        margin:10px 0px 10px 60px;
        


    }

    .searchInput {
        border-radius: 10px;
        border: none;
        outline: none;
        height:30px;
        padding:10px;

    }
    
    .navbar {
        position: fixed;
        z-index: 3;
        top: 0px;
        background-color: rgb(250, 245, 245); 
        
        width:100vw;
        height:80px;
        padding:10px;
         display: flex;
         /* justify-content: space-between;   */
        
      
    }
    
    
  
    .navbar ul {
        background-color: rgb(250, 245, 245); 
        box-sizing: border-box;
        width: 300px;
        height:fit-content;
        margin:0px 100px;
        display: flex;
        justify-content: space-between;

       }

       .imgProf {
          
        border-radius: 100%;
        margin :0px 0px 0px 0px;
        cursor: pointer;
       
        }

        .containerDivs .imgProf {
        border-radius: 100%;
        margin :0px 0px 0px 0px;

        }

                    /* font awesome icons */
       .navbar .fa-home, .fa-user-friends, .fa-download, .fa-expeditedssl {
            color:#00000099; 
           width:100%;
           text-align: center;
          
       }
       

        .profileUploadForm {
            display: none;

         }    

    
    
    .navbar ul button {
       border:none;
       background-color: rgb(250, 245, 245) ;
       color:red;
      padding-bottom:3px;
       font-size: 20px;
       width:fit-content;
        }
    
   
    
    .navbar ul a{
        text-decoration: none;
        width:fit-content;
        }
    
    .navbar ul li{
      list-style: none;
      padding:3px;
      background-color:  rgb(250, 245, 245) ;
      top: 0px;
     
      color:#00000099; 
      font-size: 20px;
      width:fit-content;
     
    
        }

         /*  div for profile pic and camera icon*/
    .forRelative {
        position: relative;
        height:fit-content;
        width:60px;
        margin: 10px auto;
        
    }

    .forRelative ion-icon {
        position: absolute;
        right: 4px;
        bottom: 0px;
        cursor: pointer;
       color:blue;
    }
    

        .navbar ul a:hover{
            
        }
                   
        .navbar ul li:hover{
            /* color:black;
            transition: 0.5s ease-in-out; */

    
        }

        /* .navbar .fa-home:hover, .fa-user-friends:hover, .fa-download:hover {
            color:black;
        } */


        .navbar ul a:hover, .fa-home:hover, .fa-user-friends:hover, .fa-download:hover{
            /* color:black; */
        }


        .navbar ul button:hover{
            
         
    
        }
        
        
  
    
    

    
    
    
                /* post.php styling */
     
    
        .add-post {
            outline: none;
            text-align: center;
            padding: 20px;
            margin: 200px auto;
        }

        .textAreaDiv {
            width:fit-content;
       
            
        }
    
        .textAreaDiv textarea {
            padding-left:10px;
            border: none;
            box-shadow: 1px 1px 3px 0px #888888;
            height:160px; 
            width:350px;
            resize: none;
            outline: none;

        
           }
    
      
    
      
     
    
       .add-post [type='submit'] {
        background-color: white;
        border: none;
        color:blue;
       font-size: 20px;
    
    
       }
    
       .form-add-post [type='submit']:hover {
            color:red;
            transition: 0.3s ease-in-out;
      }
    
    
    
                    
       
       
       
                    /* posts.php  */
      
      
      
    
       .postsContainer {
       display: inline-block;
        padding-top: 100px;
        width:50vw;
        margin-left: 215px; 
        
        
          
    }
    
    
       .postsContainer .heading {
        padding-left: 10vw ;
        padding-bottom: 30px;
       }
    
       .containerDivs {
           max-width:550px;
           height: fit-content;
            /* min-height:180px; */
            box-shadow: 1px 1px 3px 0px #888888;
            margin-left:2vw;
            margin-bottom: 10px;
            border-radius: 9px;
            padding: 10px;
             background-color: white; 
            font-size: 13px;
    
    
       }

       .anchorFromImageToSeeProfile {
        text-decoration:none;
    }

        


       

       video {
        width: 100%;
        margin: auto;
        outline: none;
       
        }

        controls{
            position:absolute;
            z-index:1;
        }

        .containerDivs .postImg{
            width:60%;
            margin-left:20%;
        }

       .containerDivs h3{
           width:fit-content;
           display: inline-block;
           vertical-align: top;
       }

       .containerDivs p {
        width:90%;


       }
    
    
    .containerDivs:hover {
        background-color: #F2F3F5; 
        transition: 0.3s ease-in-out;
    }
    

      
    
    
       .btnsWrapper {
         /* display:inline-block; */
        width:fit-content;
        float: right;
    
       }
       .btnsWrapper button {
            background:none;
            vertical-align: bottom;
            color:blue;
            border:none;
            outline: none;
            }


       .btnsWrapper button:hover {
            color:red;
            transition: 0.3s ease-in-out;
        }

       

       
        .comment {
            padding:4px;
            color: #000fff;
            cursor: pointer;
            
        }
 
        .comments {
         height:fit-content;
            display:none;   
 
        }

        .leaveCommentForm {
            display: none;
        }

        .leaveCommentFormActive {
            display: block;
        }

        .commentOnPostInput,
         .comment_to_edit_input {
            border-radius: 5px;
            outline: none;
            border:blue 1px solid;
            margin: 4px 0px;
            padding:4px; 
            }

            .comment_to_edit_input {
                margin-bottom: 5px;
            }

        .submitCommentBtn {
            border:none;
            border-radius: 5px;
            padding:5px;
            background-color: #3B49DF;
            color: #F9FAFAFA
        }

        .updateCommentBtn {
            border:none;
            border-radius: 5px;
            padding:5px;
            background-color: #9ca3f7;
            color: #F9FAFAFA;
        }

        .deleteBtnForComment {
            border:none;
            border-radius: 5px;
            padding:5px;
            background-color: red;
            color: #F9FAFAFA;
        }

    

        .commentHeading {
            margin-top: 20px;
            color:blue;
            
        }

        .commentsActive {
            display: block;
            
        }

        .comments p {
            width: fit-content;
            display: inline-block;
        }


        .editBtnForComment {
            background:none;
            padding-left: 5px;
            color:blue;
            border:none;
            outline: none;
            font-size: 11px;
            display:inline-block;
        }

        .editCommentForm  {
            display:none;
        }

            /* this class is for classlist.toggle in main.js */
        .editCommentFormActive {
            display:block;
        }

        

        .commentUser{
            display: inline-block;
            color:black;
            font-weight:800;
        }




                        /* Edit the posts in posts.php */
    
       .editAbsoluteDiv {
        display: flex;
        display: none;  
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color:rgba(0,0,128,0.2) ;
        height:100vh;
        width:100vw;
        z-index: 2;
        top:0px; 
        left:0px;
    }
    
       .formToEdit {
            position: relative;
            border-radius: 6px;
            padding : 20px;
            text-align: center;
            background-color: white;
            width:350px;
            height:fit-content;
    } 

   .formToEdit  ion-icon{
       position: absolute;
        display: block;
        float: right;
        font-size: 30px;
        top:0;
        right:0;
       
      
}

.formToEdit  [type="text"]{
    outline: none;
    border:none;
    box-shadow: 0px 0px 0px 0px blue;
    height:fit-content;
    min-height: 100px;
    width: 90%;
    margin-bottom: 8px;
    line-height: 20px;
    font-family: sans-serif;
    resize: none;
}

.formToEdit  [type="submit"]{
  background-color: #4d4dff;
  color:white;
  border: none;
  padding:8px;
  margin-right: 8px;
  
 
}

.formToEdit .deleteBtn {

background-color: red;
  color:white;
  width: 85px;



}


.fileLabel {
 background-color: blue;
 color: white;

}
    
    
                                                    /*****  520 and below  ******/
       @media screen and (max-width: 520px){
        .navbar {
      
            position: fixed;
            z-index: 3;
             height: 85px;
             width:100vw;
             padding:0px;
             display: block;
            
            
             
             }

             
            
            .navbar ul {
               
                height: fit-content;
               
              
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
               }


          

        .navbar ul li {
            font-size: 20px;
            
            
        } 
        
         .navbar ul button {
            font-size: 20px;

             
             
         }
        
         .navbar .imgProf {
            height:50px;
            width:50px;
          margin:auto;
    
           }

           /*  div for profile pic and camera icon*/
    .forRelative {
        position: relative;
        height:fit-content;
        margin:auto;
    }

    .forRelative ion-icon {
        position: absolute;
        right: 0px;
        bottom: 0px;
        cursor: pointer;
       color:blue;
    }

            /* Biography and edit bio */
        .UserCrudentials{
            
            margin:100px auto;
            margin-bottom: 20px;
            position: static;
            padding:10px 10px 0px 10px;
            width: 95vw;
            font-size: small;
            box-shadow: none;       
        }
 
        .UserCrudentials p {
            margin-bottom: 6px;
        }
        .UserCrudentials .name {
            text-align: center;
            font-weight: 800;
            font-size: large;
        }
        .UserCrudentials b {
            display: block;
        }
 
        .UserCrudentials h6 {
            color:blue;
        }
 
        .editBiographyContain {
             height:100%;
             width:100vw;
             display: none;
             position: absolute;
             z-index: 4;
             background-color: rgba(24, 77, 224, 0.9);
        }
 
        .editBiographyContain h2 {
            text-align: center;
        }
 
        .editBiographyContain ion-icon {
            font-size: 60px;
            margin-left: 75%;
          
            
        }
 
        .editBioForm {
         text-align: center;
         display: flex;
         flex-direction: column;
         margin: 30% auto;
         padding:0px 10px 20px 10px;
 
         text-decoration: none;
         font-weight: 900;
         font-size: 25px;
         width:300px;
         color:black ;
         background-color: blue;
         border:1px solid blue;
            
        }



                            /* post.php  & addpostform */
        
           .add-post {
            outline: none;
            text-align: center;
            padding: 20px;
            margin: 100px auto;
        }

        .textAreaDiv {
            width:fit-content;
       
            
        }


            /* this is parent of buttons which is nested inside */
        .textAreaDiv textarea {
            padding-left:10px;
            border: none;
            box-shadow: 1px 1px 3px 0px #888888;
            height:20vh; 
            width:85vw;
            resize: none;
            outline: none;

        
           }
         
           .buttons {
            width: 90%;

           }
        
        video, .postImgmg{
           height:200px;
           width:60vw; 
           /* margin:10px auto; */
           }
           

        .containAll {
            display: flex;
            flex-direction: column;
           }  
           
        
        .postsContainer {
            width:100vw;
            margin:auto;
            
    
            
           }
    
           .containerDivs {
                width:97%;
                height: fit-content;
                 /* border:1px solid  #282C35; */
                 box-shadow: 1px 1px 3px 0px #888888;
                 margin: auto;
                 margin-bottom: 8px;
                 border-radius: 9px;
                 padding: 10px;
                 
                 font-size: 13px;
                }

        

            .formToEdit {
                width:70vw;
               
        } 

            
    
    
       }
       
       
       
       
       
       
       
       
       
       
       
       
    
       .addedDiv {
           display:inline-block;
           vertical-align:top;
           width:200px;
           
          
       }
    
    
    
    
        


    
    
    
    
    
    
